@import "tailwindcss";

:root {
  --primary: #d35400;
  --secondary: #fad7a0;
  --tertiary: #5d4037;
  --neutral: #faf9f6;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);
  --color-neutral: var(--neutral);
  --font-primary: var(--font-plus-jakarta-sans);
  --font-secondary: var(--font-literata);
}

html {
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
